@import "../../../../index.css";

.content {
  display: flex;
  flex-direction: row;
}
.container {
  width: var(--global-max-width);
  margin: auto;
}
.contactWithMe {
  margin: 30px 0;
  border-radius: 5px;
  overflow: hidden;
}
.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  line-height: 1.4285em;
  margin-bottom: 1.5rem;
}
.breadcrumb p {
  margin: 0;
}
.breadcrumb a {
  color: #ff8200;
}
@media (min-width: 320px) {
  .content {
    flex-direction: column;
  }
}
@media (min-width: 1281px) {
  .content {
    flex-direction: row;
  }
}
