/* :global .ui.modal {
  left: auto;
}
:global .ui.modal.visible.active {
  position: relative;
  height: auto;
}
:global .ui.modal > .content > .image {
  min-width: 150px;
}
:global .ui.image {
  margin-bottom: 20px;
} */
.name {
  font-weight: bold;
  font-size: 2rem;
}
.btnClose {
  background: var(--global-gradient);
  padding: 10px 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.description {
  line-height: 2rem;
  font-size: 15px;
}
