.navbarItems {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: white;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.navbarItemsGroup {
  display: flex;
  flex-direction: column;
}
.item:global(.active) {
  color: #ff8843 !important;
  border-bottom: 1px solid #ff8843;
}
.item {
  font-size: 1.1rem;
  color: #1d1d1d;
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #e1e1e1;
  transition: 0.1s all linear;
}
.item.active {
  border-bottom: 1px solid #ff8843;
  color: #ff8843;
}
.item:hover {
  text-decoration: none;
  color: #ff8843;
}
.btnOpenModal {
  background: var(--global-gradient);
  border: none;
  margin: 0 10px 15px;
  display: flex;
  flex: 1 1;
  /* background: transparent;
  color: #3c3c3c;
  box-shadow: 0 0 5px #848484; */
}
.btnOpenModal .arrowRightIcon {
  flex: 1;
  text-align: right;
}
.openModalContainer {
  display: flex;
}
.openModalContainer :global(.btn.btn-primary).btnOpenModal:focus {
  border: none;
  background: var(--global-gradient);
  box-shadow: none;
}
:global(.btn.btn-primary).btnOpenModal:active {
  background: var(--global-gradient);
  border: none;
  box-shadow: none;
}
.btnSaveModal {
  background: var(--global-gradient);
  border: none;
}
.error {
  display: block;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1px;
  color: transparent;
  transition: all 0.3s linear;
}
.error.active {
  color: red;
  font-size: 10px;
}
