.container {
  flex: 0 0;
  position: sticky;
  top: 30px;
  align-self: baseline;
  min-width: 280px;
  margin-right: 50px;
  margin-top: 10px;
}
.navbarItems {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: white;
  padding: 10px;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 1px 6px #c4c4c4;
}
.item:global(.active) {
  color: #ff8843;
  border-bottom: 1px solid #ff8843;
}
.item {
  font-size: 1.1rem;
  color: #1d1d1d;
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #c8c8c8;
  transition: 0.1s all linear;
}
.item.active {
  border-bottom: 1px solid #ff8843;
  color: #ff8843;
}
.item:hover {
  text-decoration: none;
  color: #ff8843;
}
