.ourTeam {
  margin-top: 0;
  text-align: center;
}
.sectionTitle {
  font-size: 40px;
  color: rgb(243 112 0);
  border-bottom: none;
  margin-bottom: 25px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.workerContainer {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}
.avatar {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
}
.worker_1 {
  background-image: url(https://static.wikia.nocookie.net/althistory/images/1/17/Vladimir_Putin_%282018-03-01%29_03_%28cropped%29.jpg/revision/latest?cb=20200419074142);
  background-position: 50% 19%;
}
.worker_2 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c7/Alexey_Navalny_in_2020_%28cropped%29.jpg);
  background-position: 50% 28%;
}
.worker_3 {
  background-image: url(https://i.guim.co.uk/img/media/c26a3091bedf5bdb164460a2c0ee27191d7622d6/0_45_2037_1223/master/2037.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=8c5f62a0c0588403a08eb4ac961fbe9f);
  background-position: center;
}
.worker_4 {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9f/Dmitry_Medvedev_2016.jpg);
  background-position: 50% -5%;
}
.aboutWorkerContainer {
}
.name {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 5px;
}
.position {
  color: #ff5858;
  font-weight: bold;
}
.description {
  color: #4c4c4c;
  font-size: 1.2rem;
}
