.service {
    display: flex;
    flex-direction: column;
    width: 32%;
    position: relative;
    margin-bottom: 10px;
    transition: 0.1s linear;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 3px 9px rgb(216 216 216), 0 0 0 rgb(0 26 52 / 5%);
}

.service:hover {
    box-shadow: 0 1px 3px #d2d2d2;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 15px 0;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
    flex: 1 1;
    margin: 0 15px;
    padding-bottom: 20px;
    color: #3c3c3c;
}

.description {
    color: grey;
    margin: 0 15px;
    margin-bottom: 20px;
}

.sticker {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 5px #2a2929;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
}

.image {
    width: 100%;
}

.content a {
    color: #68d88f;
    text-decoration: none;
    text-transform: uppercase;
    align-self: flex-start;
    margin: 0 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.1s linear;
}

.content a:hover {
    color: #68d88f;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid #68d88f;
}

.service :global(.lazy-load-image-background.opacity.lazy-load-image-loaded) {
    width: 100%;
}

@media (min-width: 320px) {
    .service {
        width: calc(50% - 5px);
        margin-bottom: 10px;
    }
    .title {
        font-size: 1.1rem;
    }
    .description {
        font-size: 1rem;
    }
    .content a {
        font-size: 1rem;
    }
    .sticker {
        font-size: 0.8rem;
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    .service {
        width: calc(33% - 10px);
        margin-bottom: 20px;
    }
    .title {
        font-size: 1.3rem;
    }
    .description {
        font-size: 1rem;
    }
    .content a {
        font-size: 1rem;
    }
    .sticker {
        font-size: 1rem;
    }
}