.container {
  width: calc(var(--global-max-width));
  margin: auto;
  position: relative;
}
.searchContainer {
  display: flex;
  flex-direction: wrap;
}
.productsButton {
  padding: 10px 25px;
  color: white;
  background: var(--global-gradient);
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.1s linear;
  margin-right: 15px;
  box-shadow: 0 3px 9px rgb(169 79 2 / 38%), 0 0 0 rgb(148 68 0);
}
.searchInputContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  position: relative;
}
.searchInput {
  flex: 1 1;
  border-radius: 5px;
  padding: 10px 1em;
  box-shadow: 0 3px 9px rgb(0 26 52 / 25%), 0 0 0 rgb(0 26 52 / 5%);
  border: 1px solid transparent;
  padding-right: 40px;
  outline: none;
}
.mobileSearchButton {
  background: none;
  position: absolute;
  right: 0;
  font-size: 1.2rem;
}
.searchButton {
  padding: 10px 25px;
  color: white;
  background: var(--global-gradient);
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.1s linear;
  margin-left: 15px;
  box-shadow: 0 3px 9px rgb(169 79 2 / 38%), 0 0 0 rgb(148 68 0);
}
@media (min-width: 320px) {
  .searchContainer {
    width: 100%;
    margin: auto;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .searchButton {
    display: none;
  }
}

@media (min-width: 1281px) {
  .searchContainer {
    border-radius: 5px;
    padding: 0 0;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .searchButton {
    display: block;
  }
  .searchInput {
    font-size: 1.2rem;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 9px rgb(0 26 52 / 25%), 0 0 0 rgb(0 26 52 / 5%);
    border: 1px solid transparent;
    transition: border 0.2s linear;
  }
  .searchInput:focus {
    outline: none;
    border: 1px solid rgb(190, 190, 190) !important;
    box-shadow: 0 3px 9px rgb(0 26 52 / 25%), 0 0 0 rgb(0 26 52 / 5%) !important;
  }
}
