.tags {
  display: flex;
  flex-direction: row;
}
.tag {
  background-color: #8dc628;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  border-radius: 3px;
}
.tag:nth-child(even) {
  background-color: #f96363;
}
.name {
  font-size: 1.6rem;
  font-weight: bold;
}
.productBlock {
  display: flex;
}
.images {
  width: 55%;
  margin-right: 20px;
}
.info {
  display: flex;
  width: 45%;
  flex-direction: column;
}
.priceBlock {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
  margin-bottom: 20px;
}
.description {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
  margin-bottom: 20px;
}
.properties {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
}
.propertiesTitle {
  margin-bottom: 1rem;
}
.propery {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  border-bottom: 1px dolid black;
}
.propertyName {
  flex: 1 1;
  overflow: hidden;
  padding-right: 10px;
  color: rgb(24, 24, 24);
}
.propertyValue {
  padding-left: 10px;
  color: rgb(24, 24, 24);
}
.propertyName:after {
  content: "..............................................................................................................................................................................................................................................................................................................................................................";
  white-space: nowrap;
  overflow: hidden;
  color: grey;
  text-indent: 1.5em;
  padding-left: 10px;
  letter-spacing: 3px;
}
.priceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.priceSale {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.oldPrice {
  color: rgb(44, 44, 44);
  margin-right: 5px;
  font-size: 1.4rem;
  position: relative;
}
.oldPrice:after {
  content: "";
  border-bottom: 2px solid #ff5555;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.newPrice {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
  margin-right: 5px;
  color: #ff5555;
}

.price {
  font-weight: bold;
  font-size: 1.7rem;
  margin-right: 5px;
  color: #3c3c3c;
}

.priceUnit {
  font-weight: bold;
  color: #3c3c3c;
}

.priceSale .priceUnit {
  color: #ff5555;
}

.clarifуPriceButton {
  font-size: 1rem;
  padding: 10px 25px;
  color: white;
  background: var(--global-gradient);
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.1s linear;
  margin-left: auto;
  box-shadow: 0 3px 9px rgb(169 79 2 / 38%), 0 0 0 rgb(148 68 0);
}
@media (min-width: 320px) {
  .container {
    padding-left: 0;
    width: 100%;
  }
  .productBlock {
    flex-direction: column;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid rgb(206, 206, 206);
  }
  .images {
    width: auto;
    padding: 0 10px;
    margin-right: 0;
  }
  .info {
    width: auto;
    flex-direction: column;
  }
  .priceBlock {
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
    margin: 15px 10px;
  }
  .clarifуPriceButton {
    margin-left: 0;
  }
  .priceContainer {
    margin-bottom: 10px;
  }
  .description {
    margin: 0 10px;
    margin-bottom: 15px;
  }
  .properties {
    margin: 0 10px;
    margin-bottom: 15px;
  }
  .tags {
    padding: 0 10px;
  }
  .name {
    margin-top: 10px;
    padding: 0 10px;
    font-size: 1.3rem;
  }
}
@media (min-width: 1281px) {
  .container {
    padding-left: 10px;
    width: var(--global-max-width);
    margin: auto;
    margin-bottom: 2rem;
  }
  .productBlock {
    flex-direction: row;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(206, 206, 206);
  }
  .images {
    width: 55%;
    margin-right: 20px;
  }
  .info {
    width: 45%;
    flex-direction: column;
  }
  .priceBlock {
    flex-direction: row;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 16px rgb(0 26 52 / 16%), 0 0 0 rgb(0 26 52 / 5%);
    margin: 0;
    margin-bottom: 20px;
  }
  .clarifуPriceButton {
    margin-left: auto;
  }
  .priceContainer {
    margin-bottom: 0;
  }
  .description {
    margin: 0;
    margin-bottom: 20px;
  }
  .properties {
    margin: 0;
    margin-bottom: 20px;
  }
  .tags {
    padding: 0;
  }
  .name {
    margin-top: 0;
    padding: 0;
    font-size: 1.6rem;
  }
}
