.products {
}
.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dropdowns {
  display: flex;
  flex-direction: row;
}
@media (min-width: 320px) {
  .productsContainer {
    padding: 0 10px;
  }
}
@media (min-width: 1281px) {
  .productsContainer {
    padding: 0;
  }
}
