.products {
  display: flex;
  flex-direction: column;
}
.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-flow: row wrap;
  /* margin: 1em auto; */
}
.productsContainer::after {
  content: "";
  flex-grow: 0;
  width: calc(32%);
}
.dropdowns {
  display: flex;
  flex-direction: column;
}
.topDropdowns {
  display: flex;
  flex-direction: row;
}
.bottomDropdowns {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.loader:global(.ui.inline.loader) {
  margin: auto;
  margin-top: 150px;
}
@media (min-width: 320px) {
  .productsContainer {
    padding: 0 10px;
  }
}
@media (min-width: 1281px) {
  .productsContainer {
    padding: 0;
  }
}
