@import "../../../../../App.module.css";

.WorkingSteps {
  margin-top: 0;
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-image: url(https://www.pkksib.ru/uploads/blog/5e856a48dae75.jpg);
  background-size: cover;
  background-position: 30% 50%;
  background-attachment: fixed;
}
/* .WorkingSteps:before {
  
} */
.sectionDarkBackground {
  background-color: rgb(0 0 0 / 80%);
}
.container {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  color: white;
  max-width: 1300px;
  margin: auto;
}
.sectionTitle {
  color: rgb(243 112 0);
  border-bottom: none;
  margin-bottom: 25px;
  color: white;
  border-bottom: solid 3px #f97131;
}
.leftSide {
  width: 40%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.middleSide {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightSide {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.totalStepsContainer {
  flex: 1 1;
}
.totalSteps {
  background: linear-gradient(#eea649, #ff6433);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20rem;
  font-weight: bold;
  line-height: 0.8em;
}
.totalStepsText {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ff6433;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.arrow {
  flex: 0 0;
  width: 150px;
}
.stepsList {
  list-style: none;
  counter-reset: li;
  text-align: left;
}
.step {
  color: #f5e5c9;
  font-size: 3rem;
  counter-increment: li;
  margin-bottom: 15px;
}
.step:last-child {
  margin-bottom: 0;
}
.step::before {
  content: counter(li);
  color: #f6883f;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (min-width: 320px) {
  .WorkingSteps {
    margin-top: 50px;
    background-attachment: local;
  }
  .container {
    flex-direction: column;
  }
  .leftSide {
    width: 100%;
  }
  .middleSide {
    display: none;
  }
  .rightSide {
    width: 100%;
    padding: 20px;
    padding-top: 40px;
  }
  .totalStepsContainer {
    padding: 0 20px;
  }
  .totalSteps {
    font-size: 15rem;
  }
  .totalStepsText {
    font-size: 2.5rem;
    background: linear-gradient(#eea649, #ff6433);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .arrow {
    width: 90px;
    transform: rotate(90deg);
  }
  .step {
    font-size: 2rem;
  }
}
@media (min-width: 1281px) {
  .WorkingSteps {
    margin-top: 0;
    background-attachment: fixed;
  }
  .container {
    flex-direction: row;
  }
  .leftSide {
    width: 40%;
  }
  .middleSide {
    display: flex;
  }
  .rightSide {
    width: 40%;
    padding: 0;
  }
  .totalStepsContainer {
    padding: 0;
  }
  .totalSteps {
    font-size: 20rem;
  }
  .totalStepsText {
    font-size: 3rem;
    color: #f5e5c9;
  }
  .arrow {
    width: 150px;
    transform: rotate(0deg);
  }
  .step {
    font-size: 3rem;
  }
}
