.whyWe {
  text-align: center;
  margin-top: 0;
  text-align: center;
  background-image: url(http://krovla.pro/files/remont_metallicheskoi_krovli3.jpg);
  background-size: cover;
  background-position: 30% 50%;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  max-width: 100%;
}
.sectionTitle {
  color: white;
  text-align: center;
  padding-left: 0;
  padding: 0 10px;
}
.imageContainer {
  background-color: rgb(0 0 0 / 80%);
  padding: 40px 0;
  position: relative;
}
.image {
  width: 100%;
  position: relative;
}
.advantagesContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.advantageCard {
  width: 20%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: white;
  justify-content: space-between;
  text-align: center;
  padding-top: 30px;
}
/* .advantageImage {
  width: 100px;
  margin-bottom: 30px;
} */
.number {
  font-size: 3rem;
  font-weight: bold;
  color: #f98727;
}
.title {
  font-size: 2rem;
  color: #fff1da;
  text-transform: uppercase;
}

@media (min-width: 320px) {
  .whyWe {
    background-attachment: local;
  }
  .advantagesContainer .advantageCard:last-child {
    border-bottom: none;
  }
  .advantageCard {
    width: 100%;
    border-bottom: 1px solid #ffc69763;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 50px;
  }
  .title {
    font-size: 1.5rem;
  }
  .number {
    font-size: 4rem;
  }
  /* .advantageImage {
    width: 80px;
    margin-bottom: 20px;
    display: none;
  } */
  .imageContainer {
    padding: 40px 0 20px;
  }
}
@media (min-width: 1281px) {
  .whyWe {
    background-attachment: fixed;
  }
  .advantageCard {
    width: 20%;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 50px;
    margin: 0;
  }
  .title {
    font-size: 2rem;
  }
  .number {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
  /* .advantageImage {
    width: 100px;
    margin-bottom: 30px;
  } */
  .imageContainer {
    padding: 40px 0;
  }
}
