.titleItems {
  color: #323232;
  font-weight: bold;
  padding-left: 60px;
  font-size: 1.1rem;
  background-color: #e7e7e7;
}
.content {
  display: flex;
  flex-direction: row;
}


@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .content {
    display: flex;
    flex-direction: row;
  }
}
