@import '../../App.module.css';

.container {
    background-color: #4c85a9;
}
.topBar {
    max-width: var(--global-max-width);
    padding: 10px 0;
    margin-right: auto;
    margin-left: auto;
    color: white;
}
