/* @import "../../index.css"; */

.container {
  background: var(--global-gradient);
}
@media (min-width: 320px) {
  .container {
    display: none;
  }
}
@media (min-width: 1281px) {
  .container {
    display: block;
  }
}
