@import '../../App.module.css';

.content {
    flex: 1 0;
    background-color: rgb(211, 226, 212);
}
.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: var(--global-max-width);
    margin: auto;
}