.card {
  display: flex;
  width: 22%;
  flex-direction: column;
  position: relative;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 3px #a9a9a9;
}

.card:last-child {
  /* margin-left: calc(4% / 2); */
}
.card:hover {
  box-shadow: 0 1px 3px #d2d2d2;
}

.content {
  margin: 15px;
  flex: 1 1;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cde8d7;
  padding-bottom: 10px;
}

.productImage {
}

.tagsContainer {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 5px;
}

.tag {
  background-color: #8dc628;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  border-radius: 3px;
}

.tag:nth-child(even) {
  background-color: #f96363;
}

.title {
  flex: 1;
  /* font-weight: bold; */
}

.nameLink {
  flex: 1;
  color: #3c3c3c;
  font-size: 1.1rem;
}
.nameLink:hover {
  border-bottom: none;
  text-decoration: none;
  color: var(--global-primary-color);
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 20px 0;
  flex: 1;
}

.priceSale {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.oldPrice {
  color: gray;
  margin-right: 5px;
  /* text-decoration: line-through; */
  font-size: 1.1rem;
  margin-bottom: 0;
  position: relative;
}
.oldPrice:after {
  content: "";
  border-bottom: 2px solid #ff5555;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.newPrice {
  font-weight: bold;
  font-size: 1.7rem;
  margin-right: 5px;
  color: #ff5555;
}

p.price {
  /* font-weight: bold; */
  font-size: 1.7rem;
  margin-bottom: 15px;
  color: #3c3c3c;
}

.priceUnit {
  font-weight: bold;
  color: #3c3c3c;
}

.priceSale .priceUnit {
  color: #ff5555;
}
.availableAndArticleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.availableContainer {
  margin-bottom: 15px;
}
.available {
  color: var(--global-primary-color);
}
.notAvailable {
  color: #8f8f8f;
}
.notAvailableIcon {
  color: rgb(250, 177, 42);
  font-weight: bold;
}
.article {
  color: #8f8f8f;
}

.button {
  color: var(--global-primary-color);
  border-bottom: 1px solid transparent;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 0;
  transition: 0.1s linear;
  outline: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
}

.button:hover {
  color: var(--global-primary-color);
  border-bottom: 1px solid var(--global-primary-color);
  text-decoration: none;
}
/* .button {
  padding: 7px 15px;
  color: white;
  background: var(--global-gradient);
  align-self: center;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  transition: 0.1s linear;
  outline: none;
  border: none;
  font-size: 0.9rem;
  margin-right: auto;
  margin-left: 15px;
} */

/* .button:hover {
  color: white;
  box-shadow: 0 1px 3px #8a5512;
  text-decoration: none;
} */

.productImage {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .card {
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
}

@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .card {
    width: calc(32%);
    margin-bottom: 20px;
  }
}
