.container {
  width: calc(var(--global-max-width));
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.content {
  display: flex;
  flex-direction: row;
  flex: 1 1;
}
.numberOfCoincidencesBlock {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.searchQuery {
  color: var(--global-primary-color);
  padding: 0 5px;
  font-weight: bold;
}
.nubmberOfCoincidences {
  color: var(--global-primary-color);
  padding: 0 5px;
  font-weight: bold;
}
.contentContainer {
  flex: 1;
}
