.carouselTtemTitle {
  font-size: 4rem;
  text-shadow: 1px 1px 5px #2a2929;
  margin-bottom: 1.3rem;
  transform: translate3d(0.08em, -0.08em, 0);
  text-shadow: -0.08em 0.08em #ff78047a;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.carousel {
  position: relative;
  max-width: var(--global-max-width);
  margin: auto;
  overflow: hidden;
  padding: 0 10px;
}
:global(.carousel) {
  border-radius: 5px;
  overflow: hidden;
}
.carouselTtemDescription {
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px #2a2929;
  color: #e4e4e4;
}
.asdf {
  position: absolute;
  /* right: 15%; */
  top: 151px;
  left: 150px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  max-width: 526px;
}
:global(.carousel-caption) {
  left: 150px !important;
  right: auto !important;
  bottom: 50% !important;
  transform: translateY(50%);
  max-width: 550px;
}

@media (min-width: 320px) {
  .carousel {
    border-radius: 0;
    padding: 0 10px;
  }
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .carousel :global(.carousel-caption) {
    left: 15% !important;
    right: 15% !important;
  }
  .carousel :global(.d-block.w-100) {
    object-fit: cover;
    height: 300px;
    filter: brightness(30%);
  }
  .carouselTtemTitle {
    font-size: 1.7rem;
    text-shadow: -0.08em 0.08em #ff78047a;
  }
  .carouselTtemDescription {
    font-size: 1.2rem;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .carousel {
    border-radius: 5px;
    padding: 0;
  }
  .carousel :global(.carousel-caption) {
    left: 12% !important;
    right: auto !important;
  }
  .carousel :global(.d-block.w-100) {
    object-fit: cover;
    height: 500px;
    filter: brightness(50%);
  }
  .carouselTtemTitle {
    font-size: 4rem;
    text-shadow: -0.08em 0.08em #ff78047a;
  }
  .carouselTtemDescription {
    font-size: 1.5rem;
  }
}
