.news {
  text-align: center;
  background-size: cover;
  background-position: 30% 50%;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  max-width: 100%;
}
.newsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.newsItemContainer {
  padding: 10px;
}
.newsItem {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 10% 30%;
}
:global .n1 {
  object-position: 10% 5%;
}
:global .n2 {
  object-position: 10% 15%;
}
:global .n3 {
  object-position: 10% 10%;
}
:global .n4 {
  object-position: 10% 0%;
}
.name {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 5px;
  color: #3c3c3c;
}
.position {
  color: #ff5858;
  font-weight: bold;
}
.description {
  color: grey;
  font-size: 1.2rem;
  font-style: italic;
  padding-bottom: 10px;
}
.news :global .slide___3-Nqo {
  padding-bottom: 443px !important;
}
.news :global .carousel__dot-group {
  text-align: center;
}
.news :global .dot___3c3SI {
  cursor: pointer;
  margin-right: 8px;
  outline: none;
  border: none;
  background-color: grey;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.news :global .dot___3c3SI:hover {
  background-color: #ffbb94;
}
.news :global button.carousel__dot.carousel__dot--selected {
  background-color: #ff7625;
}
.news :global .carousel__slide-focus-ring {
  display: none;
}
.continueRead {
  align-self: center;
  border: none;
  outline: none;
  color: #ff7625;
  background: transparent;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 10px;
}
