/* @import "../../../../../App.module.css"; */
.contactWithMe {
  background-color: rgb(255 255 255);
}
.callMeFormContainer {
  margin: auto;
  padding: 50px 0;
  padding-top: 0;
  max-width: var(--global-max-width);
  width: 100%;
}
.callMeForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-top: 30px; */
  max-width: 1300px;
  margin: auto;
  margin-top: 60px;
}
.sectionTitleContainer {
  text-align: center;
  max-width: 1300px;
  margin: auto;
  /* border-top: 1px solid #ffa500; */
  padding-top: 50px;
}
.sectionTitle {
  display: inline-block;
  border-bottom: solid 3px #ff7e29;
}
.inputField {
  background-color: white;
  padding: 10px 20px;
  padding-top: 5px;
  border-radius: 5px;
  width: 17rem;
  border: 2px solid #747474;
}
.submitButton {
  background: var(--global-gradient);
  padding: 21px 40px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 1.3rem;
  width: 260px;
}
:global input.MuiInputBase-input {
  font-size: 1.3rem;
}
:global .MuiInput-root.MuiInput-underline:after {
  border-bottom: 2px solid #ff6d18;
}
:global label.MuiFormLabel-root.Mui-focused {
  color: #ff6d18;
}

@media (min-width: 320px) {
  .callMeForm {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .inputField {
    margin-bottom: 30px;
    width: auto;
  }
  .sectionTitleContainer {
    padding-top: 30px;
  }
}
@media (min-width: 1281px) {
  .callMeForm {
    flex-direction: row;
    align-items: initial;
    margin-top: 60px;
  }
  .inputField {
    margin-bottom: 0;
    width: 17rem;
  }
  .sectionTitleContainer {
    padding-top: 50px;
  }
}
