@import '../../App.module.css';

.footer {
    background-color: #d0d0d070;
    color: white;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    width: var(--global-max-width);
    margin: auto;
}