@import "../../App.module.css";

.footer {
  background-color: #111111;
  padding: 50px 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--global-max-width);
  margin: auto;
  min-height: 200px;
}
.column {
  display: flex;
  flex-direction: column;
}
.columnTitle {
  font-size: 1.4rem;
  padding-right: 30px;
  color: #d4d4d4;
  text-transform: uppercase;
}
.columnItems {
  display: flex;
  flex-direction: column;
  color: grey;
}
.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.subscribeContainer {
  flex-direction: column;
}
.inputMail {
  padding: 10px 25px;
  width: 300px;
  border-radius: 5px;
  border: none;
}
.buttonSubscribeMail {
  outline: none;
  background-color: #fd8531;
  border: none;
  color: white;
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}
.item {
  margin-left: 10px;
  color: gray;
}
.item:hover {
  color: #fd8531;
}
@media (min-width: 320px) {
  .container {
    flex-direction: column;
    padding-left: 20px;
  }
  .column {
    margin-bottom: 30px;
  }
}
@media (min-width: 1281px) {
  .container {
    flex-direction: row;
    padding-left: 0;
  }
  .column {
    margin-bottom: 0;
  }
}
