body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: ceter;
  margin: 0;
  /* padding: 0 10px !important; */
}
.body {
  margin-right: calc(-1 * (100vw - 100%));
  position: relative;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sectionTitle {
  display: inline-block;
  font-size: 45px;
  text-align: left;
  color: rgb(74 74 74);
  border-bottom: solid 3px orange;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.sectionMainPage {
  margin: 50px auto;
  max-width: var(--global-max-width);
  width: 100%;
}
