@import "../../../../../App.module.css";

.reviews {
  margin-top: 50px;
  width: 100%;
  /* background-image: url(https://thumbs.dreamstime.com/z/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D0%B0%D1%8F-%D0%BA%D0%B5%D1%80%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F-%D0%BA%D1%80%D1%8B%D1%82%D1%8C-%D1%87%D0%B5%D1%80%D0%B5%D0%BF%D0%B8%D1%86%D0%B5%D0%B9-%D0%BA%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F-%D0%BA%D1%80%D1%8B%D1%88%D0%B0-%D0%B4%D0%BE%D0%BC%D0%B0-%D1%81-%D1%81%D1%82%D0%BE%D1%87%D0%BD%D0%BE%D0%B9-123655480.jpg); */
  background-size: cover;
  background-position: 30% 50%;
}
.sectionTitle {
}
.sectionDarkBackground {
  background-color: rgb(0 0 0 / 80%);
  padding: 40px 0;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: var(--global-max-width);
  margin: auto;
  margin-top: 30px;
}
.reviewsContainer {
  max-width: var(--global-max-width);
  margin: auto;
}
.reviewContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 10px;
  height: 100%;
}
.reviewsContainer .reviewContainer:first-child {
  /* padding-left: 0; */
}
.review {
  height: 100%;
  padding: 30px;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  transition: 0.1s all;
}
.review:hover {
  box-shadow: 0 1px 3px #d2d2d2;
}
.avatarAndName {
  display: flex;
  flex-direction: row;
}
.image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}
.avatarBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nameContainer {
  flex: 1 1;
  padding-left: 30px;
}
.name {
  font-weight: bold;
  font-size: 1.2rem;
}
.reviewTextContainer {
  max-height: 170px;
  display: flex;
  flex-direction: column;
}
.reviewText {
  color: grey;
  padding-top: 20px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  line-height: 26px;
}
.reviewText:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(#ffffff52, white);
}
.continueRead {
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid transparent;
  align-self: center;
  color: #f55f0f;
  font-size: 16px;
  font-weight: normal;
  border-radius: unset;
}
.continueRead:hover {
  border-bottom: 1px solid #f55f0f;
}
:global .slide___3-Nqo {
  padding-bottom: 17.5% !important;
}
:global .carousel__dot-group {
  text-align: center;
}
:global .dot___3c3SI {
  cursor: pointer;
  margin-right: 8px;
  outline: none;
  border: none;
  background-color: grey;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
:global .dot___3c3SI:hover {
  background-color: #ffbb94;
}
:global button.carousel__dot.carousel__dot--selected {
  background-color: #ff7625;
}
:global .carousel__slide-focus-ring {
  display: none;
}
.rating > :global(.MuiBox-root) {
  margin-bottom: 0;
}

@media (min-width: 320px) {
  .reviews :global .slide___3-Nqo {
    padding-bottom: 370px !important;
  }
}
@media (min-width: 1281px) {
  .reviews :global .slide___3-Nqo {
    padding-bottom: 17.5% !important;
  }
}
