.callMe {
  position: fixed;
  bottom: 25px;
  left: 25px;
  padding: 13px;
  width: 270px;
  z-index: 2;
  border-radius: 10px;
  border: 1px solid #9affb3;
  transition: 0.15s linear;
  user-select: none;
  overflow: hidden;
  box-shadow: var(--global-box-shadow);
}
.callMe.expanded {
  background-color: white;
}
.callMeHeader {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.callImage {
  width: 50px;
}
.callMeHeaderTitleBlock {
  display: flex;
  flex: 1 0;
  align-items: center;
  justify-content: center;
}
.callMeHeaderTitle {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  color: #66d18b;
  margin-bottom: 0;
}
.callMeExpandButton {
  display: flex;
  align-items: center;
}
.callMeExpandButton:hover > i {
  background-color: #90ff86;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s linear;
}
.callMe.expanded .callMeExpandButton > i {
  transform: rotate(180deg);
}
.callMeForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.1s linear;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.2s linear;
}
.callMe.expanded .callMeForm {
  visibility: visible;
  height: 290px;
  opacity: 1;
}
.formTitle {
  text-align: center;
  padding: 20px 0;
  padding-top: 35px;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #66d18b;
  font-size: 1.8rem;
}
.textField {
  margin-bottom: 30px;
}
.textField :global .MuiFormLabel-root.Mui-focused {
  color: #66d18b;
}
.textField :global .MuiInput-underline:after {
  border-bottom: 2px solid #66d18b;
}
.calculateButton {
  padding: 10px 25px;
  color: white;
  background: var(--global-gradient);
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.1s linear;
  margin-left: 15px;
  box-shadow: var(--global-box-shadow);
}
.calculateButton:hover {
  background-color: #66d18b;
  box-shadow: var(--global-box-shadow);
}

@media (min-width: 320px) {
  .callMe {
    display: none;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .callMe {
    display: none;
  }
}
@media (min-width: 1700px) {
  /* hi-res laptops and desktops */
  .callMe {
    display: block;
  }
}
