.container {
  flex: 0 0;
  position: sticky;
  top: 30px;
  align-self: baseline;
  min-width: 280px;
  margin-right: 50px;
  margin-top: 10px;
}
:global(.pricePageProductsNavbar) .container {
  position: relative;
  margin-right: 0;
  margin-top: 0;
  top: 0;
}
.navbarItems {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: white;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 1px 6px #c4c4c4;
  margin-bottom: 2rem;
  margin-top: 0;
}
.navbarItemsGroup {
  display: flex;
  flex-direction: column;
}
.categoryLinContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.expandLinks {
  padding: 5px;
  display: flex;
}
.expandLinks.hidden {
  visibility: hidden;
}
.expandLinks:hover {
  cursor: pointer;
  color: var(--global-primary-color);
}
.expandLinks i {
  margin: 0;
  font-size: 0.7rem;
}
.item:global(.active) {
  color: #ff8843 !important;
  border-bottom: 1px solid #ff8843;
}
.item {
  padding: 14px;
  border-bottom: 1px solid #e1e1e1;
  transition: 0.1s all linear;
}
.link {
  font-size: 1.1rem;
  color: #1d1d1d;
  /* padding: 14px; */
  padding-left: 10px;
  transition: 0.1s all linear;
}
.link.active {
  border-bottom: 1px solid #ff8843;
  color: #ff8843;
}
.link:hover {
  text-decoration: none;
  color: #ff8843;
}

.navbarItemsGroup .item {
  color: #5c5c5c;
}
.navbarGroupItem {
  padding: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
  padding: 10px 5px;
}
.productsCount {
  /* color: #5c5c5c; */
  padding-left: 5px;
}
@media (min-width: 320px) {
  .container {
    position: relative;
    top: unset;
    margin-top: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 1281px) {
  .container {
    position: sticky;
    top: 30px;
    margin-top: 0;
    margin-left: 0;
    max-width: 280px;
  }
}
