/* @import "../../../index.css"; */

.content {
  display: flex;
  flex-direction: row;
}
.container {
  width: var(--global-max-width);
  margin: auto;
}
.contactWithMe {
  margin: 30px 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px #a9a9a9;
}
.productsContainer {
  flex: 1 1;
  max-width: calc(100% - 280px - 50px);
}
@media (min-width: 320px) {
  .container {
    width: auto;
  }
  .content {
    flex-direction: column;
  }
  .contactWithMe {
    margin: 30px 10px;
  }
}
@media (min-width: 1281px) {
  .container {
    width: var(--global-max-width);
  }
  .content {
    flex-direction: row;
  }
  .contactWithMe {
    margin: 30px 0;
  }
}
