@import "../../../App.module.css";

.topBar {
  max-width: var(--global-max-width);
  padding: 3px 0;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
.contentList {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 5px 0;
}
.colored {
  /* color: #f1ff00; */
}
