.sliderContainer {
  width: 200px;
  margin-bottom: 10px;
}
.popupContainer {
  display: flex;
  flex-direction: column;
}
.priceTablo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: space-between;
}
.priceText {
  width: 47%;
  max-width: 140px;
  border: 1px solid rgb(197 197 197);
  border-radius: 3px;
  padding: 5px 10px;
  text-align: left;
  margin: 0;
}
.priceCheckbox:global(.ui.checkbox) {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.priceButton:global(.ui.basic.button) {
  padding-right: 2rem;
  position: relative;
}
.priceButtonIcon {
  position: absolute;
  right: 0;
}
.sliderContainer :global(.css-eg0mwd-MuiSlider-thumb) {
  width: 15px;
  height: 15px;
}
.sliderContainer :global(.css-187mznn-MuiSlider-root) {
  height: 2px;
  color: #26a452;
}
.sliderContainer :global(.css-eg0mwd-MuiSlider-thumb:hover) {
  box-shadow: 0px 0px 0px 8px rgb(25 210 63 / 16%);
}
