.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuItem {
  /* margin-right: 5px; */
}
.logoLink {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 9px;
}
.logoImg {
  /* max-width: 230px; */
  /* padding: 20px; */
  /* padding-left: 10px; */
  width: 300px;
  height: 130%;
  /* border-radius: 5px; */
}
.logoText {
  font-size: 2rem;
  color: #66d18b;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-left: 93px;
  text-shadow: 0 3px 9px rgb(28 169 2 / 38%), 0 0 0 rgb(0 148 66);
  font-weight: normal;
  position: absolute;
}
