.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuItem {
  /* margin-right: 5px; */
}
.logoImg {
  max-width: 230px;
  padding: 20px;
  padding-left: 10px;
}
